extends ./extends/layout.pug

include ./mixins/_all.pug

block body
	include ./includes/_header.pug
	h1 html gulp build system
	.container
		p Simple and effective way to create html and css markup
		img(src='http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg').doge
		p much effective, such reload!!!!