extends ./extends/layout.pug

include ./mixins/_all.pug

block body
	include ./includes/_header.pug
	h1 html gulp build system
	.container
		p Simple and effective way to create html and css markup
		img(src='/img/dodge.jpg').doge/
		p much effective, such reload!!!!
	include ./includes/_footer.pug