// ==========================================================================
// base>base
//
// This file should contain all base elements in their standard styling
// E.g. body, h1-h6, table, a, form, input ...
//
// Note: Should NOT contain classes or ids
// ==========================================================================

body 
	padding: 40px
	text-align: center;
	background: pink
	font 18px Arial, sans-serif